@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-family: "Manrope", sans-serif;
  /* background: #0b0f12; */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
